@if(User.HasClaim("Role", "employee")){
    <form method="post" asp-action="Logout" asp-controller="Account">
        <a asp-controller="Account" asp-action="Profile" class="btn btn-primary text-dark ml-2">
            <i class="bi bi-file-person"></i>
            <strong>@User.Identity.Name</strong>
        </a>
        <a class="ml-2 btn btn-outline-info" asp-action="Dashboard" asp-controller="Employee"><i class="bi bi-bar-chart-line-fill"></i> Dashboard</a>
        <button type="submit" class="ml-2 btn btn-outline-danger"><i class="bi bi-x-circle-fill"></i></button>
    </form>
}else if (User.Identity.IsAuthenticated)
{
    <form method="post" asp-action="Logout" asp-controller="Account">
        <a asp-controller="Account" asp-action="Profile" class="btn btn-primary text-dark ml-2">
            <i class="bi bi-file-person"></i>
            <strong>@User.Identity.Name</strong>
        </a>
        <button type="submit" class="ml-2 btn btn-outline-danger"><i class="bi bi-x-circle-fill"></i></button>
    </form>
}
else{
    <a asp-controller="Account" asp-action="Register" class="btn btn-outline-info me-2">Criar conta</a>
    <a asp-controller="Account" asp-action="Login" class="btn btn-outline-primary"><i class="bi bi-box-arrow-in-right"></i></a>
}
