@model Category

@{
    ViewData["Title"] = "Deletar";
}

<form method="post" asp-action="Delete" style="max-width:480px; margin: auto;">
    <div class="border mt-4 p-3 text-center">
        <div class="row pb-3">
            <h2 class="text-center text-danger">Deletar categoria</h2>
        </div>
        <div class="form-floating text-dark">
            <input asp-for="@Model.Name" class="form-control" placeholder="Nome da categoria" disabled>
            <label asp-for="@Model.Name">Nome</label>
        </div>
        <span class="text-danger" asp-validation-for="Name"></span>
        <div class="mt-2">
            <button type="submit" class="btn btn-outline-danger">Confirmar</button>
            <a asp-action="Index" asp-controller="Category" class="btn btn-success ms-2">Voltar para lista</a>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}

