@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div style="margin:auto;">
    <div class="text-center row">
        <h2 class="text-white fw-bold">
            sevetware system
        </h2>
    </div>
    <div class="row p-3">
        <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
           <div class="rounded bg-dark p-4">
               <h3 class="text-white fw-bold">&lt; tecnologia para inovação /&gt;</h3>
               <p>Empresa de análise e desenvolvimento de sistemas. Voltada para a ampla inclusão de novos negócios à tecnologia. Desenvolvemos o projeto de acordo com a sua necessidade. Ofererecemos também suporte, banco de dados, mídia web. Analisamos a melhor solução para você.</p>
           </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
            <div class="rounded bg-dark p-4">
                <h3 class="text-white fw-bold">&lt; história /&gt;</h3>
                <p>Empresa criada em 7 de maio de 2021. Após um debate entre amigos sobre o melhor nome, que poderia expressar a ideia individual de cada integrante. Nada mais agregador que simbolizar cada indivíduo. Portanto sete integrantes e Tware de software.</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
            <div class="rounded bg-dark p-4">
                <h3 class="text-white fw-bold">&lt; valores /&gt;</h3>
                <p>Amigos e estudantes apaixonados por tecnologia, nossa equipe busca sempre inovações e mudanças para melhor desenvolvimento dos nossos clientes e da empresa. Por isso, buscamos desenvolver serviços de melhor qualidade, atentos aos compromissos e satisfação.</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
            <div class="rounded bg-dark p-4">
                <h3 class="text-white fw-bold">&lt; missão e visão /&gt;</h3>
                <p>Trazer acessibilidade e qualidade em sistemas. Sabemos da necessidade das empresas de tornarem mais ágeis. Portanto possuímos como missão integrar, organizar e melhorar o gerenciamento de negócios. Com empenho aplicação, visamos nos tornar uma das melhores empresas de desenvolvimento, com a ajuda da tecnologia.</p>
            </div>
        </div>
    </div>
</div>
