
@{
    ViewData["Title"] = "AccessDenied";
}
<div class="text-center mt-4">
    <h1 class="text-white"><i class="bi bi-lock"></i> Acesso Negado!</h1>
    <p class="w-100">
        Você não tem permissões para acessar está página.
        Entre em contato com um administrador para receber permissão.
    </p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-success">Voltar para home</a>
</div>

